/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body, html {
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}
  
/* Section Container */
.servicesSection {
    min-height: 100vh;
    padding: 3rem 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    z-index: 1;
    margin: 20px 0;
}
  
/* Header Section */
.servicesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1200px;
}
  
.subHeading {
    font-size: 1.2rem;
    color: #2B7A78;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
  
.highlight {
    font-size: 2.8rem;
    color: #2B7A78;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
}
  
.boldHeading {
    font-size: 2.8rem;
    font-weight: 800;
    color: #111;
}
  
/* Button */
.learnBtn {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    background: linear-gradient(to right, #2B7A78, #20615f);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(43, 122, 120, 0.2);
}
  
.learnBtn:hover {
    background: linear-gradient(to right, #235e5c, #1a4e4c);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(43, 122, 120, 0.3);
}
  
/* Cards */
.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1rem;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}
  
.serviceCard {
    background-color: white;
    padding: 2rem;
    width: 260px;
    height: 380px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    text-align: center;
}
  
.serviceCard:hover {
    transform: translateY(-4px);
}
  
.serviceCard img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
}
  
.serviceCard h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.8rem;
    font-weight: 700;
}
  
.serviceCard p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}
